# Cummulative Cases and GDP


Adding GDP info

---
Import all relevant modules:

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.options.mode.chained_assignment = None


plt.style.use('ggplot')

In [2]:
data_dir = "../Data"
cities_file = 'city_counts_post11.csv'
districts_file = 'districts.csv'

districts_path = os.path.join(data_dir, districts_file)
cities_path = os.path.join(data_dir, cities_file)
#Read all as data frames
df_districts = pd.read_csv(districts_path)
df_cities = pd.read_csv(cities_path)

In [3]:
cities = [ i.casefold() for i in df_cities['City']]
print(cities)

['patna', 'ahmedabad', 'delhi', 'mumbai', 'hyderabad', 'jaipur', 'pune', 'kolkata', 'chandigarh', 'nagpur', 'lucknow', 'dehradun', 'goa', 'nashik', 'allahabad', 'visakhapatnam', 'kanpur', 'surat', 'varanasi', 'aurangabad', 'rajkot', 'vijayawada', 'bhopal', 'vadodara', 'coimbatore', 'agra', 'kochi', 'ludhiana', 'meerut', 'bareilly', 'kolhapur', 'bengaluru', 'chennai', 'madurai', 'thiruvananthapuram', 'trichy', 'gurgaon', 'jodhpur', 'ranchi', 'amaravati', 'ajmer', 'thane', 'navi-mumbai', 'noida', 'shimla', 'amritsar', 'udaipur']

In [4]:
#Find unique districts in districts.csv file
unique_districts = []
for i in df_districts['District']:
    if not i in unique_districts:
        unique_districts.append(i)
    
#See how many of these districts match our cities
cities_to_plot = []
for i in unique_districts:
    if i.casefold() in cities:
        #Do not use casefold 
        #when appending as we
        #will use this element
        #to search in our dataframe
        cities_to_plot.append(i)
print(cities_to_plot)

['Visakhapatnam', 'Aurangabad', 'Patna', 'Chandigarh', 'Delhi', 'Ahmedabad', 'Rajkot', 'Surat', 'Vadodara', 'Ranchi', 'Thiruvananthapuram', 'Kolhapur', 'Mumbai', 'Nagpur', 'Nashik', 'Pune', 'Thane', 'Bhopal', 'Amritsar', 'Ludhiana', 'Ajmer', 'Jaipur', 'Jodhpur', 'Udaipur', 'Chennai', 'Coimbatore', 'Madurai', 'Agra', 'Bareilly', 'Lucknow', 'Meerut', 'Varanasi', 'Dehradun', 'Kolkata', 'Shimla']

In [5]:
#Edit dates and city here:

#dates in yyyy-
start_date = '2021-4-10'
end_date = '2021-5-30'

#change city. Ristrict to ones posted above
city_name='Delhi'

In [6]:
cities = [i for i in df_cities['City']]
len_cities = len(df_cities)
print(len_cities)
# print(cities)

def count_city(df_districts, start_date = '2021-4-10', end_date = '2021-5-30', city_name='Delhi'):
    df_filtered = df_districts[df_districts['District'] == city_name]
    df_filtered['Date'] = pd.to_datetime(df_filtered['Date'], format='%Y-%m-%d')
    mask = (df_filtered['Date'] >= start_date) & (df_filtered['Date'] <= end_date)
    df_filtered = df_filtered.loc[mask]
    change_in_cases = [0]
    count = 0
    for i in df_filtered['Confirmed']:
        if count == 0:
            prev = int(i)
        else:
            last = int(i)
        count += 1
    
    #matplotlib plotting:
    #first convert to numpy
    final_count = last - prev
    return final_count

47

In [7]:
final_counts = [-1]*len_cities
df_cities = df_cities.assign(CummulativeCases = final_counts)
print(df_cities)
cities_to_plot_casefold = [i.casefold() for i in cities_to_plot]

    index                City  Articles  Tweets  CummulativeCases
0       0               patna       254    5345                -1
1       1           ahmedabad       201    7530                -1
2       2               delhi       201  148768                -1
3       3              mumbai       192  105133                -1
4       4           hyderabad       187   43459                -1
5       5              jaipur       165   11125                -1
6       6                pune       136   23814                -1
7       7             kolkata       132   19520                -1
8       8          chandigarh       117    9604                -1
9       9              nagpur       115    4805                -1
10     10             lucknow       103   10523                -1
11     11            dehradun        98    2403                -1
12     12                 goa        85    5360                -1
13     13              nashik        65    1192                -1
14     14           allahabad        64    1136                -1
15     15       visakhapatnam        55    1600                -1
16     16              kanpur        53    2100                -1
17     17               surat        47    3888                -1
18     18            varanasi        44    2927                -1
19     19          aurangabad        43    1138                -1
20     20              rajkot        43     806                -1
21     21          vijayawada        42    1609                -1
22     22              bhopal        40    3380                -1
23     23            vadodara        40    1866                -1
24     24          coimbatore        38    2905                -1
25     25                agra        35    1056                -1
26     26               kochi        33    1426                -1
27     27            ludhiana        32    1493                -1
28     28              meerut        31     963                -1
29     29            bareilly        26     746                -1
30     30            kolhapur        26     336                -1
31     31           bengaluru        24   45651                -1
32     32             chennai        21   34580                -1
33     33             madurai        17    1137                -1
34     34  thiruvananthapuram        14     731                -1
35     35              trichy        13       0                -1
36     36             gurgaon        10   25060                -1
37     37             jodhpur        10    1347                -1
38     38              ranchi         9    2101                -1
39     39           amaravati         7       0                -1
40     40               ajmer         6     389                -1
41     41               thane         6    1802                -1
42     42         navi-mumbai         6     429                -1
43     43               noida         5   12203                -1
44     44              shimla         4    1342                -1
45     45            amritsar         4     779                -1
46     46             udaipur         4    1122                -1

In [19]:
for i in cities_to_plot:
    print(i)
    df_cities.loc[df_cities['City'] == i.casefold(), ['CummulativeCases']] = count_city(df_districts, city_name = i)
    
# print(df_cities)

Visakhapatnam
Aurangabad
Patna
Chandigarh
Delhi
Ahmedabad
Rajkot
Surat
Vadodara
Ranchi
Thiruvananthapuram
Kolhapur
Mumbai
Nagpur
Nashik
Pune
Thane
Bhopal
Amritsar
Ludhiana
Ajmer
Jaipur
Jodhpur
Udaipur
Chennai
Coimbatore
Madurai
Agra
Bareilly
Lucknow
Meerut
Varanasi
Dehradun
Kolkata
Shimla

In [18]:
#all values in $billion
dict_gdp = {
    'Visakhapatnam': '43.5' ,#https://en.wikipedia.org/wiki/Economy_of_Visakhapatnam
    'Aurangabad' : '13.05', #https://metroverse.cid.harvard.edu/city/7266/economic-composition
    'Patna' : '30', #https://en.wikipedia.org/wiki/Economy_of_Bihar#Economy_of_Patna
    'Chandigarh': '4.3', #https://en.wikipedia.org/wiki/Chandigarh#Economy
    'Delhi': '210', #https://en.wikipedia.org/wiki/Economy_of_Delhi
    'Ahmedabad' : '80', #https://en.wikipedia.org/wiki/Ahmedabad#Economy
    'Surat' : '40', #https://en.wikipedia.org/wiki/Surat#Economy
    'Thiruvananthapuram' : '13.1', #https://en.wikipedia.org/wiki/Thiruvananthapuram#Economy
    'Kolhapur' :'6.1', #population*gdp/capita
    'Mumbai' : '240', #https://en.wikipedia.org/wiki/Economy_of_Mumbai
    'Nagpur' : '18', #https://en.wikipedia.org/wiki/Nagpur#Economy
    'Nashik' : '15', #https://scroll.in/article/806071/dividing-maharashtra-how-poor-is-vidarbha-and-how-rich-is-konkan
    'Pune' : '40', # https://en.wikipedia.org/wiki/Pune#Economy
    'Bhopal' : '16.8', #https://en.wikipedia.org/wiki/Bhopal#Economy
    'Ludhiana' : '6.8', #https://en.wikipedia.org/wiki/Economy_of_Ludhiana
    'Ajmer' : '0.5', #https://www.brookings.edu/research/8-graphs-why-ajmer-allahabad-visakhapatnam-have-a-long-way-to-go-before-they-become-smart/
    'Jaipur' : '15',#https://www.google.com/search?channel=fs&client=ubuntu&q=Jaipur+gdp
    'Jodhpur' : '40', #https://en.wikipedia.org/wiki/Jodhpur
    'Udaipur' : '30',
    'Chennai' : '86', #https://en.wikipedia.org/wiki/Economy_of_Chennai
    'Coimbatore' :'45', #https://en.wikipedia.org/wiki/Economy_of_Coimbatore
    'Agra' : '8', #https://www.google.com/search?channel=fs&client=ubuntu&q=Agra+gdp
    'Lucknow' : '7.8', #https://www.google.com/search?channel=fs&client=ubuntu&q=Lucknow+gdp
    'Varanasi' : '3.8', #https://www.google.com/search?channel=fs&client=ubuntu&q=Varanasi+gdp
    'Dehradun' : '7.1', #https://www.google.com/search?channel=fs&client=ubuntu&q=Dehradun+gdp
    'Kolkata' : '150', #https://www.google.com/search?channel=fs&client=ubuntu&q=Kolkata+gdp
    'Shimla' : '0.5', #https://en.wikipedia.org/wiki/List_of_Himachal_Pradesh_districts_by_GDP
}

In [12]:
print(dict_gdp)

{'Visakhapatnam': '43.5'}